h1{
    
    padding: 1em;
    font-size: 1.5em;

}

h2{ 
    font-family: 'Oleo Script', cursive;
    font-size: 2em;
    margin-top: 1em;
}

p{
    font-size: 1em;
}

body{  
    background-image: url(/Project_1/images/Chicken_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

button{
    font-family:'Yanone Kaffeesatz', sans-serif;
    color: white ;
    text-transform: uppercase;
    background:gray;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;

}

.h1Wrap{
    height: 20%;
    font-family: 'Oleo Script', cursive;
    background-color: white;
    display:flex;
    align-items: baseline;

}


.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 85%;
  margin:auto;
}

.modal-backdrop{
    opacity:0.5 !important;
}

.modal-title{
    font-family: 'Oleo Script', cursive;
    font-size: 3em;
}
.imageDisplay{
    text-align: center;
    background-color: white;
    
}

#foodPlace, #recipeHolder{
    
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 3rem;
    padding: 1em;
    width: 100%;
    height: 80%;
    /* overflow: auto; */
    font-family:'Yanone Kaffeesatz', sans-serif;
    justify-items: center;


}

#food-input{
    width: 30%;
    height: 15%;
    font-family:'Yanone Kaffeesatz', sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 1em;
}
#recipeText {
    text-align: left;
    padding: .2em;
    font-size: 2em;

}

#foodWords {
    text-align:center;
    width: 40%;
    /* height: 15%; */
    margin: 1em;
    margin-right: auto;

}

#headword{
    font-family: 'Oleo Script', cursive;
    font-size: 1.5em;
}

#definition{
    font-family:'Yanone Kaffeesatz', sans-serif;

}